/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.border-dotted{
  border-style: dotted !important;
}

.backcolor{
background-color: rgba(0,0, 0, 0.7);
}

.bg{
background: grey;
}

i{
cursor: pointer;
}

svg{
animation: ani 0.8s linear;
transform-origin: 50% 50%;
transform: scale(0.9);
}

@keyframes ani {
25% {
  opacity: 0.4;
}
100%{
  transform: scale(1);
  }
}

.logout-spin{
animation: rotate_image 1s linear;
transform-origin: 50% 50%;
}

@keyframes rotate_image {
100% {
  transform: rotate(180deg);
  }
}

@media (max-width: 720px) {
/* .card{
  width: 100vw;
  height: 100vh;
} */
}